@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 30px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #7ed56fcc, #28b485cc),
    url(./assets/images/hero.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
  font-size: 16px;

  .log-box {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  .heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    .primary {
      color: #fff;
      text-transform: uppercase;

      .main {
        display: block;
        font-size: 60px;
        letter-spacing: 35px;
        font-weight: 400;
        animation-name: moveToRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }

      .sub {
        display: block;
        font-size: 20px;
        letter-spacing: 17.4px;
        font-weight: 700;
        animation-name: moveToLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
      }
    }
  }
}
